<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>topic-loginlatter</title>
    <link href="../css/nav/navbar_1.css" type="text/css" rel="stylesheet">
    <link href="../css/nav/sidenav.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a href="../login/homepage-loginlatter.html" style="float: left"><img src="../img-2/goBack_1.png"> go-back</a>
    <div class="dropdown">
        <a href="commonUserMain.jsp" style="float: right;">username:$gfdsdfghjkj$</a>
        <div class="dropdown-content">
            <a href="../information/modify-information.html">&nbsp;&nbsp;&nbsp;Modify Information</a>
            <a href="../information/become-vip.html">&nbsp;&nbsp;&nbsp;Become Member</a>
        </div>
    </div>
    <a href="commonUserMain.jsp" style="float: right"><img src="../img-2/tuzi.jpg" style="border-radius: 50%; width: 35px;height: 35px"></a>
</div>

<div class="sidenav">
    <a href="#">新片推荐</a>
    <a href="#">粉丝聚集</a>
    <a href="#">资源分享</a>
    <a href="#">我的帖子</a>
    <a href="Movie-loginlatter.html">影视观看</a>
</div>

<div class="main">

</div>

</body>
</html>