body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    color: #000;
}
header {
    width:100%;
    height:80px;
}
nav{
    height: 120px;
    background: center;
    background-size:50%;
    background-repeat: no-repeat;
    margin: 30px;
    background-image: url("/static/img/campus.jpg");
}
.middle{
    width:100%;
    margin:5px auto;
}
.left{
    width:300px;
    float:left;
    position: absolute;
    left: 0;
    top:350px;
}
.right{
    float:right;
    width: 800px;
}
.middle .left button{
    background-color: lightsalmon; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 40px;
    cursor: pointer;
}
.button1{
    border-radius: 12px;
    width:270px;
}
.button2{
    font-size:15px;
    width: 100px;
    height: 53px;
    background-color: #09C;
}
button a{
    display: block;
    text-decoration: none;
    height: 32px;
    line-height: 32px;
}
button a:link,button a:visited{
    color: #FFFFFF;
}
button a:hover{
    color: #0000FF;
    border-radius: 10px;
    /*background-color: coral;*/
}

.headPortrait {
    position: absolute;
    left: 950px;
    top: 26px;
    width: 67px;
    height: 46px;
    z-index: 1;
}
.username {
    position: absolute;
    left: 1000px;
    top: 33px;
    width: 194px;
    height: 41px;
    z-index: 2;
}
.myForum {
    position: absolute;
    left: 315px;
    top: 283px;
    width: 176px;
    height: 52px;
    font-size: 25px;
    z-index: 3;
}
.posting {
    position: absolute;
    left: 981px;
    top: 280px;
    width: 130px;
    height: 45px;
    z-index: 4;
}
iframe{
    position: absolute;
    width: 800px;
    height: 800px;
    right:25px;
    top:350px;
    border-style: none;
    z-index:5;
}
.footer {
    position: absolute;
    right: 500px;
    top:1200px;
    font-size: 10px;
    z-index:6;
}